torch
ollama             
faiss-cpu        
rank-bm25          
FlagEmbedding      
langchain-core
langchain-community
langchain-huggingface
paddleocr
piper-tts
gunicorn
Flask
Flask-Cors
mysql-connector-python
faster-whisper
banglaspeech2text
PyMuPDF
langdetect